<style>
	.img3 {
		width: 180px;
		margin-top: -17px;
	}
</style>
<style>
	.header-logo {
		margin-top: -60px;
		margin-left: -94px;
	}

	.man {
		width: 431px;
		margin-top: -226px;
	}

	.slider-shape2 {
		position: absolute;
		top: 53%;
		right: 35px;
	}

	.banner-carousel .slide-item {
		position: relative;
		overflow: hidden;
		min-height: 792px;
	}

	.about-shape {
		position: absolute;
		bottom: -32px;
		right: 111px;
	}
</style>
<style>
	.contact-us-area {
		background-color: #0a58ca;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
		width: 1189px;
		border-radius: 20px;
		margin-top: 70px;
	}

	.contact-us-area {
		background: url("/assets/img/bg5.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
	}

	.choose-area {
		position: relative;
		margin-top: -2px;
		background: url("/assets/img/bg6.png");
		background-size: contain;
		z-index: 1;
		padding: 115px 0 0px;
	}

	.choose-area::after {
		position: absolute;
		content: "";
		width: 50%;
		height: 100%;
		background: url("/assets/img/bg7.png");
		right: 0;
		z-index: -1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
	}

	.choose-icon {
		float: left;
		margin-right: 23px;
		background: #fff0;
		width: 90px;
		height: 90px;
		text-align: center;
		line-height: 90px;
		border-radius: 50%;
		transition: .5s;
	}
</style>


<style>
	/* Style for the container */
	.section-container {
		display: flex;
		align-items: center;
		margin-top: -28px;

	}

	/* Style for the left part (image) */
	.left-part {
		flex: 1;
		padding: 10px;
	}

	/* Style for the right part (title) */
	.right-part {
		flex: 1;
		padding: 10px;
	}

	/* Style for the image */
	.section-image {
		max-width: 100%;
		height: auto;
	}

	/* Style for the title */
	.section-title1 {
		margin-left: -230px;
		font-size: 20px;
		font-weight: bold;
	}

	.contact-us-area {
		width: 85%;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.choose-area::after {
			display: none;
		}

		.section-title1 {
			margin-left: -133px;
			font-size: 20px;
			font-weight: bold;
		}
	}

	.img2 {
		margin-top: 90px;
		width: 399px;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.slider-main-title h1 {
			font-size: 40px;
			line-height: 46px;
		}

		.img2 {
			margin-top: 90px;
			width: 100%;
		}

	}

	.breatcome-area {
		background: url('/assets/img/abbg.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 154px 0;
	}
</style>


<!--==================================================-->
<!-- Start Thrown Bratcome Area -->
<!--==================================================-->
<div class="breatcome-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="breatcome-content">
					<div class="breatcome-title">
						<h1>About Us</h1>
					</div>
					<div class="bratcome-text">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Bratcome Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown About Area -->
<!--==================================================-->
<div class="about-area inner-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="about-thumb">
					<img src="assets/img/img1.png" alt="">
					<div class="about-shape bounce-animate">
						<img src="assets/img/img2.png" alt="">
					</div>
				</div>
				<div class="about-thumb">
					<img src="assets/img/img1.png" alt="">
					<div class="about-shape bounce-animate">
						<img src="assets/img/img2.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="section-title">
					<div class="about-sub-title">
						<h4>About Us</h4>
					</div>
					<div class="about-main-title">
						<h4>AFREEN BUILDING MATERIALS TRADING CO. L.L.C (ABMTC) </h4>
						<h4 class="text-primary">ESTABLISHED IN 2006</h4>
					</div>
				</div>
				<div class="about-content">
					<div class="about-discribtion">
						<p>Afreen Building Materials Trading Co. L.L.C (ABMTC) Established in 2006, headquartered in Abu
							Dhabi, and branches in Dubai and Sharjah, U.A.E. — is one of the largest stockists of
							Mechanical, Electrical, Plumbing, Civil Construction, and Oil Field Products. <br><br>


							A centralized distribution system, along with fully computerized operations ensures
							stringent quality checks and superior standards are maintained for delivery times within the
							schedules provided. ABMTC operates from a full-fledged showroom in Abu Dhabi, Mussafah -M/9
							& M/14, with branches and extensive warehousing facilities. <br><br>

							ABMTC is constantly striving to add quality products at affordable prices. ABMTC is striving
							to ensure total customer satisfaction by providing dedicated service to all levels. We have
							a team of highly qualified sales professionals who are fully trained to be of service on all
							strategic business units. <br><br>

							ABMTC has been associated with world-class Mechanical, Electrical Civil Construction, and
							oil field Products. We believe our services have immensely contributed to the infrastructure
							development requirements of the country for the past 16 years. Most of the products can be
							immediately supplied from our ready stock at short notice.
						</p>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<!--start about single box -->
							<div class="about-single-box">
								<div class="about-icon">
									<h1 class="text-primary">16</h1>
								</div>
								<div class="about-text mt-0">
									<h4>Years of Experience</h4>
								</div>
							</div>
							<!--end about single box -->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown About Area -->
<!--==================================================-->



<!------------------------------------------------>
<style>
	.imgg2 {
		width: 150%;
		height: 100%;
		right: 0;
		z-index: -1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
	}
</style>

<!-- First Section with Full-width Covered Image -->
<section class="first-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="assets/img/bg7.png" style="margin-left: -12px;" alt="Cover Image" class="imgg2">
			</div>
			<div class="col-lg-6 col-md-12" style="background-color: #0a58ca;">
				<div class="container">
					<div class="choose-content mt-5 p-2">
						<div class="section-title">
							<div class="section-sub-title choose">
							</div>
							<div class="section-main-title choose">
								<h2>OUR MISSION
								</h2>
							</div>
						</div>
						<div class="choose-discription">
							<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat.</p>
						</div>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Strong customer service and support.</h6>
							</div>
						</div>
						<br>
						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Quality solutions at all times.

								</h6>
							</div>
						</div>
						<br>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Delivery of technical excellence.

								</h6>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<section class="first-section">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-6 col-md-12" style="background-color: #0a58ca;">
				<div class="container">
					<div class="choose-content mt-5 p-2">
						<div class="section-title">
							<div class="section-sub-title choose">
							</div>
							<div class="section-main-title choose">
								<h2>QUALITY POLICY
								</h2>
							</div>
						</div>
						<div class="choose-discription">
							<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat.</p>
						</div>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Our management system complies with ISO 9001 :
									2008.</h6>
							</div>
						</div>
						<br>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<img src="assets/img/bg7.png" style="margin-left: -12px;" alt="Cover Image" class="imgg2">
			</div>

		</div>
	</div>
</section>



<section class="first-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="assets/img/bg7.png" style="margin-left: -12px;" alt="Cover Image" class="imgg2">
			</div>
			<div class="col-lg-6 col-md-12" style="background-color: #0a58ca;">
				<div class="container">
					<div class="choose-content mt-5 p-2">
						<div class="section-title">
							<div class="section-sub-title choose">
							</div>
							<div class="section-main-title choose">
								<h2>OUR TEAM
								</h2>
							</div>
						</div>
						<div class="choose-discription">
							<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat.</p>
						</div>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Experience & knowledge from engineering. .</h6>
							</div>
						</div>
						<br>
						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Experience & knowledge from construction. .

								</h6>
							</div>
						</div>
						<br>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Experience & knowledge from manufacturing & piping
									design services industries.

								</h6>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>





<style>
	.img3 {
		width: 180px;
		margin-top: -17px;
	}
</style>
<!--==================================================-->
<!-- Start Thrown Footer Area -->
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row gx-6">
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-log">
						<a href="index.html"><img class="img3" src="assets/img/logo3.png" alt=""></a>
					</div>
					<div class="footer-wiget-text">
						<h4>Say Hello!</h4>
					</div>
					<div class="footer-shape-title">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore</p>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-title">
						<h4>Links</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							<li><a href="#"> Home</a></li>
							<li><a href="#"> About Us</a></li>
							<li><a href="#"> Our Service</a></li>
							<li><a href="#"> Career</a></li>
							<li><a href="#"> Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-title">
						<h4>Other Link</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							<li><a href="#"> Faq</a></li>
							<li><a href="#"> Tearm of user</a></li>
							<li><a href="#"> Disclaimer</a></li>
							<li><a href="#"> Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 pr-0">
				<div class="foter-box">
					<div class="footer-wiget-icon">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="footer-widget-contct-menu">
						<ul>
							<li><a href="#">99999 999 99</a></li>
							<li class="line"><a href="#">example@gmail.com</a></li>
							<li><a href="#">address here</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mt-100">
			<div class="col-lg-6 col-md-12">
				<div class="copyright-text">
					<p>Copyright © <a href="#">Hydro</a> All Rights Reserved.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="footer-condition">
					<ul>
						<li><a href="#">Terms of use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Footer Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i
				class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->
<!-- End Search Popup Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->
<!-- scrollup section -->
<div class="scroll-area">
	<div class="top-wrap">
		<div class="go-top-btn-wraper">
			<div class="go-top go-top-button">
				<i class="fas fa-arrow-up"></i>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End scrollup section Area -->
<!--==================================================-->